<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Домашнее задание по основам Vue</title>
		<link rel="stylesheet" href="theme.css" />
	</head>
	<body>
		<div class="container" id="app">
			<div class="card">
				<h1>План по изучению Vue.js</h1>

				<div class="steps">
					<div class="steps-content">{{ activeStep.text }}</div>
					<ul class="steps-list">
						<li
							class="steps-item"
							v-for="(step, i) in steps"
							:class="{
                'active': i === activeIndex,
                'done': i < activeIndex
              }"
						>
							<span @click="setActive(i)">{{ i + 1 }}</span>&nbsp;{{step.title}}
						</li>
					</ul>
					<div v-if="isActive">
						<button class="btn" :disabled="prevDisabled" @click="prev">
							Назад
						</button>
						<button class="btn primary" @click="nextOfFinish">
							{{ isLastStep ? 'Закончить' : 'Вперед' }}
						</button>
					</div>
          <div v-else>
            <button class="btn" @click="reset">Начать заного</button>
          </div>
				</div>
			</div>
		</div>

		<script src="https://unpkg.com/vue@next"></script>
		<script src="vue.js"></script>
	</body>
</html>
